template(name="products")
    .table($b=" if: products.length")
        .title Products
        .page-selector($b="if: moreThanOnePages")
            button.left($b="click: goBack, enable: isBackAvailable") Back
            .page-text {{ getPageText }}
            button.right($b="click: goForward, enable: isForwardAvailable") Forward
        table
            tr
                th Name
                th Category
                th Price
                th Actions
            tr
                td.center
                    input(placeholder="Search by name" $b="value: nameSearch") 
                td.center
                    input(placeholder="Search by category" $b="value: categorySearch") 
                td
                td.center
                    button($b="click: search") Search
            each products
                tr
                    td {{ this.name }}
                    td {{ this.category }}
                    td {{ this.price }}  
                    td.center
                        button($b="click: startEditing(this)") Edit 
                        button($b="click: remove(this._id)") Remove

    .form
        .field
            if editingProductId
                .title Edit
            else
                .title Create new product
        .field
            input(placeholder="Name" $b="value: name")   
        .field
            input(placeholder="Category" $b="value: category") 
        .field
            input(type="number" placeholder="Price" $b="value: price")
        .submit
            button($b="click: createProduct, enable: isFormValid, if: !editingProductId") Create      
            button($b="click: editProduct, enable: isFormValid, if: editingProductId") Edit
            button($b="click: clearFields") Cancel   